@import '../../../scss/foundation/_variables';

.main__wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    height: 84vh;
    background: url('../../../assets/main.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:$white;
    // should've put position relative here 
    // instead of a different wrapper?
   
    &__text {
        display: flex;
        flex-direction: column;
        gap:48px;
        padding: 164px 136px;
        width: 758px; // padding 136 * 2 + 486px din Figma
        position: relative;
    }
    

    &__welcome {
        font-family: $poppins;
        font-weight: $semibold;
        line-height: $lh-medium;
        letter-spacing: 0.08rem; // in Figma 8%
    }

    &__h > h1 {
        font-family: $dosis;
        font-weight: $semibold;
        line-height: $lh-gigant;
        font-size: 86px;
    }

    &__p {
        font-family: $poppins;
        font-weight: $medium;
        line-height: $lh-big;
    }
}

.yay {
    position: absolute;
    right: 6rem;
    top: 13rem;
}

.arrows {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 8px;
    right:135px;
    top:500px;
}
