@import "./scss/foundation/reset.scss";

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:100vw;

    // To add or not to add, this is the question.
    // max-width: 1920px;
}