@import "../../../scss/foundation/variables.scss";

.header {
    display: flex;
    align-items: center;
    height: 36px;
    background: $light-grey;
    justify-content: space-between;
    // different size between the elements compared to Figma
    width:100%;
    padding: 9px 135px;

    font-family: $poppins;
    font-weight: $regular;
    color: $grey;
}

.left__content, .right__content {
    display: flex;
    gap: 40px;
}

.brands {
    display: flex;
    gap: 24px;
}

.brand {
    cursor: pointer;
}

.welcome__text {
    line-height: $lh-small;
    font-size: $fs-small;
} 

.item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    
    &__text {
        font-size: $fs-small;

    }
}