@import '../../../scss/foundation/variables';

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 137px;
    background: $white;

}

.nav__elements {
    display: flex;
    gap: 48px;
    color: $grey;
    font-weight: $medium;
    font-family: $poppins;
}

.icons {
    display: flex;
    gap: 24px;
    align-items: center;
}