@import '../../../scss/foundation/_variables';

.btn {
    padding: 16px 28px;
    background-color: $orange;
    color:$white;
    border:none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap:14px;
    font-family: $poppins;

    &--complex {
        padding: 8.5px 16.5px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__other {
        font-weight: $medium;
        font-size: $fs-small;
        // line height changes the button size --
        // line-height: $lh-medium; 
    }

    &__text {
        font-weight: $semibold;
        line-height: $lh-medium;
        // Formular elements usually don't inherit default properties
        font-size: 16px;
    }
}
